#home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  #home-articles .articles-container article:first-child,
  #home-articles .articles-container article:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
  
  
  @media (max-width: 500px) {
    /* Navigation */
    #main-nav .container {
      grid-template-columns: 1fr;
      grid-gap: 1.2rem;
    }
  
    #main-nav ul{
        order :2
    }
  
    #main-nav ul,
    #main-nav .logo {
      justify-self: center;
    }
  
    #main-nav ul li a {
      padding: 0.4rem;
    }
  
    #showcase .showcase-container,
    #home-articles .articles-container,
    #main-footer .footer-container {
      grid-template-columns: 1fr;
    }
  
    #main-footer .footer-container div:last-child {
      grid-column: 1;
    }
  
    #main-footer .footer-container div:first-child,
    #main-footer .footer-container div:nth-child(3){
      border-bottom: #444 dotted 1px;
      padding-bottom: 1rem;
    }
  
    .page-container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .page-container article {
      grid-row: 1;
    }
  
  }
  